// ---------------CONTACT---------------


.contact {
    margin: 15px 0;

    @media (min-width: rem(768)) {
        margin: 30px 0;
    }

    @media (min-width: rem(992)) {
        margin: 60px 0;
    }

    @media (min-width: rem(1200)) {
        margin: 90px 0;
    }

    @media (min-width: rem(1400)) {
        margin: 120px 0;
    }

    .container {
        .grid-container {
            display: grid;
            grid-template-columns: 1fr;
            gap: 15px;
            margin-bottom: 15px;

            @media (min-width: rem(768)) {
                grid-template-columns: 1fr 1fr 1fr;
                gap: 15px;
                margin-bottom: 30px;
            }

            .grid-item {
                border: 1px solid #191919;
                display: flex;
                justify-content: left;
                align-items: center;
                padding: 20px 0 20px 70px;

                @media (min-width: rem(768)) {
                    justify-content: space-evenly;
                    align-items: flex-start;
                    padding: 20px;
                }

                @media (min-width: rem(992)) {
                    padding: 40px;
                }

                @media (min-width: rem(1200)) {
                    justify-content: space-around;
                    align-items: flex-start;
                    padding: 60px;
                }

                .icon {
                    i {
                        font-size: rem(20);
                        text-align: center;
                        padding: 15px;
                        color: white;
                        background-color: #191919;
                        border: 1px solid #191919;
                        border-radius: 50%;
                        margin-right: 20px;

                        @media (min-width: rem(768)) {
                            margin-right: 10px;
                        }
                    }
                }

                .text {
                    p {
                        margin: 0;

                        @media (min-width: rem(768)) {
                            font-size: rem(12);
                        }

                        @media (min-width: rem(992)) {
                            font-size: rem(14);
                        }

                        @media (min-width: rem(1200)) {
                            font-size: rem(18);
                        }
                    }

                    a {
                        display: block;
                        text-decoration: none;
                        color: #191919;
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .message-us {
            background-color: #F0EFE9;
            padding: 30px 15px;

            @media (min-width: rem(768)) {
                margin: 40px 0;
                padding: 40px 60px;
            }

            @media (min-width: rem(992)) {
                margin: 60px 0;
                padding: 80px;
            }

            @media (min-width: rem(1200)) {
                margin: 80px 0;
                padding: 100px 150px;
            }

            h2 {
                text-align: center;
                margin: 0;

                @media (min-width: rem(992)) {
                    margin: 0 50px;
                }

                @media (min-width: rem(1200)) {
                    margin: 0 150px;
                }

                @media (min-width: rem(1400)) {
                    margin: 0 250px;
                }
            }

            form {
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                gap: 30px;

                label {
                    // döljs normalt men är med i tab-index
                    outline: none;
                    border: 1px solid black;
                    padding: 5px;
                    border-radius: 25px;
                    background: #f9d783;
                    color: #191919;
                    width: 150px;
                }

                input {
                    border: 10px solid white;
                    border-radius: 25px;
                    padding-left: 5x;
                }

                textarea {
                    border: 10px solid white;
                    border-radius: 25px;
                    resize: none;
                    padding-left: 5px;
                }

                .button {
                    border: none;
                    font-family: 'Inter', sans-serif;
                    font-size: rem(16);
                    font-weight: 600;
                }
            }
        }

        .map {
            .container-fluid {
                margin: 15px;

                @media (min-width: rem(576)) {
                    margin: 0;
                }
            }
        }
    }
}
