.wrapper .pageNotFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 60px;
  gap: 40px;
}
@media (min-width: rem(768)) {
  .wrapper .pageNotFound {
    padding: 30px;
  }
}
@media (min-width: rem(1200)) {
  .wrapper .pageNotFound {
    padding: 60px;
  }
}
.wrapper .pageNotFound img {
  max-width: 100%;
}
.wrapper .pageNotFound h1 {
  text-align: center;
}