.our-services {
  position: relative;
  background-color: #F0EFE9;
  padding: 30px 20px 30px;
}
@media (min-width: rem(576)) {
  .our-services {
    padding: 40px 0;
  }
}
@media (min-width: rem(768)) {
  .our-services {
    padding: 60px 0;
  }
}
@media (min-width: rem(992)) {
  .our-services {
    padding: 80px;
  }
}
@media (min-width: rem(1200)) {
  .our-services {
    padding: 120px;
  }
}
.our-services .design-lines-services {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}
@media (min-width: rem(768)) {
  .our-services .design-lines-services {
    display: block;
  }
}
.our-services .container .c-top {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
}
@media (min-width: rem(768)) {
  .our-services .container .c-top {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 30px 0;
  }
}
@media (min-width: rem(992)) {
  .our-services .container .c-top {
    margin: 0 0 40px 0;
  }
}
.our-services .container .c-top .top-wrapper {
  text-align: center;
  flex: 1;
}
@media (min-width: rem(1200)) {
  .our-services .container .c-top .top-wrapper {
    text-align: left;
  }
}
.our-services .container .c-top .spacer-rgt {
  display: none;
}
@media (min-width: rem(1200)) {
  .our-services .container .c-top .spacer-rgt {
    display: flex;
    flex: 1;
  }
}
@media (min-width: rem(1200)) {
  .our-services .container .c-top .spacer-rgt {
    display: flex;
    flex: 1.3;
  }
}
.our-services .container .c-middle {
  display: inline-block;
}
.our-services .container .c-middle .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: rem(576)) {
  .our-services .container .c-middle .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: rem(1200)) {
  .our-services .container .c-middle .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.our-services .container .c-middle .grid-container .grid-item {
  min-width: 260px;
  max-width: 450px;
  background: white;
  padding: 30px;
  text-decoration: none;
  position: relative;
  z-index: 2;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out, transform 0.3s ease-out;
}
.our-services .container .c-middle .grid-container .grid-item:hover {
  background-color: #f9d783;
  transition: 0.3s ease-in;
  box-shadow: 5px 9px 7px #b9b9bf;
  transform: scale(1.05);
}
.our-services .container .c-middle .grid-container .grid-item:active {
  box-shadow: 2px 5px 8px #7c7c7c;
  transform: translateY(4px);
  transform: scale(0.95);
}
.our-services .container .c-middle .grid-container .grid-item:hover .btn-arw-r i {
  background-color: white;
  color: #191919;
  transition: 0.3s;
}
.our-services .container .c-middle .grid-container .grid-item .box-line {
  font-weight: 700;
  margin-bottom: 40px;
  color: #191919;
}
.our-services .container .c-middle .grid-container .grid-item h3 {
  margin-bottom: 16px;
}
.our-services .container .c-middle .grid-container .grid-item p {
  color: #626262;
}
.our-services .container .c-btm {
  text-align: center;
  margin: 40px 0 0 0;
}
@media (min-width: rem(1200)) {
  .our-services .container .c-btm {
    margin: 60px 0 0 0;
  }
}
.our-services .container .c-btm a {
  display: block;
  margin: 0 20px;
}
@media (min-width: rem(768)) {
  .our-services .container .c-btm a {
    display: inline-block;
    margin: 0;
  }
}