.subscribe {
  background-color: #F0EFE9;
  position: relative;
}
.subscribe .design-lines-right {
  display: none;
}
@media (min-width: rem(1200)) {
  .subscribe .design-lines-right {
    display: inline-block;
    position: absolute;
    bottom: 20%;
    right: 0;
  }
}
.subscribe .container {
  padding: 40px 15px 30px 15px;
}
@media (min-width: rem(992)) {
  .subscribe .container {
    padding: 50px 0 40px;
  }
}
@media (min-width: rem(1200)) {
  .subscribe .container {
    padding: 100px 100px 90px;
  }
}
.subscribe .container .flex-wrapper {
  display: block;
  text-align: center;
}
@media (min-width: rem(992)) {
  .subscribe .container .flex-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    text-align: left;
  }
}
.subscribe .container .flex-wrapper .left h2 {
  padding: 0 50px 15px;
  font-size: rem(24);
}
@media (min-width: rem(380)) {
  .subscribe .container .flex-wrapper .left h2 {
    padding: 0 60 15px;
    font-size: rem(28);
  }
}
@media (min-width: rem(576)) {
  .subscribe .container .flex-wrapper .left h2 {
    padding: 0 0 15px;
    font-size: rem(28);
  }
}
@media (min-width: rem(768)) {
  .subscribe .container .flex-wrapper .left h2 {
    padding: 0 0 15px;
    font-size: rem(32);
  }
}
@media (min-width: rem(1200)) {
  .subscribe .container .flex-wrapper .left h2 {
    padding: 0px;
    font-size: rem(38);
  }
}
@media (min-width: rem(1400)) {
  .subscribe .container .flex-wrapper .left h2 {
    font-size: rem(45);
  }
}
@media (min-width: rem(768)) {
  .subscribe .container .flex-wrapper .right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
@media (min-width: rem(992)) {
  .subscribe .container .flex-wrapper .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.subscribe .container .flex-wrapper .right form {
  display: flex;
  flex-direction: column;
}
@media (min-width: rem(768)) {
  .subscribe .container .flex-wrapper .right form {
    flex-direction: row;
  }
}
.subscribe .container .flex-wrapper .right form .email {
  border: 5px solid white;
  border-radius: 25px;
  padding: 8px 25px;
  margin: 0.5em;
}
.subscribe .container .flex-wrapper .right form .btn-yellow {
  display: inline-block;
  padding: 12px 25px;
  margin: 0.5em;
}