.team {
  background-color: #ECD28B;
  padding: 30px 10px;
}
@media (min-width: rem(576)) {
  .team {
    padding: 40px 20px;
  }
}
@media (min-width: rem(768)) {
  .team {
    padding: 60px 0;
  }
}
@media (min-width: rem(1200)) {
  .team {
    padding: 70px 0;
  }
}
.team .container .top-wrapper {
  display: block;
  text-align: center;
}
@media (min-width: rem(768)) {
  .team .container .top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}
.team .container .top-wrapper .team-title p {
  margin-bottom: 10px;
}
@media (min-width: rem(768)) {
  .team .container .top-wrapper .team-title p {
    margin-bottom: 30px;
  }
}
.team .container .top-wrapper .team-title h2 {
  margin-bottom: 30px;
}
@media (min-width: rem(768)) {
  .team .container .top-wrapper .team-title h2 {
    margin-bottom: 60px;
  }
}
.team .container .top-wrapper .btn-team-wrapper {
  margin-bottom: 10px;
}
@media (min-width: rem(768)) {
  .team .container .top-wrapper .btn-team-wrapper {
    margin-bottom: 0px;
  }
}
.team .container .top-wrapper .btn-team-wrapper .btn-team {
  border: 1px solid #191919;
  font-weight: 600;
  display: block;
  margin: 0 20px;
}
@media (min-width: rem(768)) {
  .team .container .top-wrapper .btn-team-wrapper .btn-team {
    display: inline-block;
    margin: 0;
  }
}
.team .container .top-wrapper .btn-team-wrapper .btn-team:focus {
  outline-color: #fff;
}
.team .container .slide-wrapper {
  padding-top: 30px;
}
.team .container .slide-wrapper .carousel .carousel-inner .item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: auto auto 1fr;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}
@media (min-width: rem(768)) {
  .team .container .slide-wrapper .carousel .carousel-inner .item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 30px;
    text-decoration: none;
  }
}
.team .container .slide-wrapper .carousel .carousel-inner .item .img-wrap img {
  width: 100%;
  margin-bottom: 30px;
}
.team .container .slide-wrapper .carousel .carousel-inner .item .img-wrap .slide-bottom-text p {
  color: #626262;
  font-size: rem(14);
}
@media (min-width: rem(768)) {
  .team .container .slide-wrapper .carousel .carousel-inner .item .img-wrap .slide-bottom-text p {
    font-size: rem(16);
  }
}
.team .container .slide-dots {
  margin: 20px 0 0;
}