// projects
.projects {
    padding: 30px 10px;

    @media (min-width: rem(768)) {
        padding: 40px 0;
    }

    @media (min-width: rem(1200)) {
        padding: 60px 0 90px;
    }

    .container {
        .projects-wrapper {
            .title-wrapper {
                text-align: center;

                .orange-txt {
                    margin-bottom: 10px;

                    @media (min-width: rem(768)) {
                        margin-bottom: 30px;
                    }
                }

                h2 {
                    margin: 0 20px;
                    margin-bottom: 60px;

                    @media (min-width: rem(768)) {
                        margin-bottom: 100px;
                    }
                }
            }

            .grid-container-p {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 30px;

                .grid-item-p {
                    text-decoration: none;
                    color: #191919;
                    display: grid;
                    grid-template-rows: auto 1fr auto;
                    opacity: 1;


                    img {
                        // opacity: 1;
                        margin-bottom: 40px;
                        width: 100%;
                        height: auto;
                    }

                    h3 {
                        border-bottom: 2px solid #E8E8E8;
                        padding-bottom: 20px;

                        br {
                            display: inline;

                            @media (min-width: rem(992)) {
                                display: none;
                            }
                        }
                    }

                    .txt-arw {
                        text-align: right;
                        margin: 15px;
                    }

                    &:hover .txt-arw {
                        text-decoration: underline;
                    }
                }

                .grid-item-p:hover {
                    opacity: 0.4;
                    transition: 0.3s ease-in-out;
                }
            }

            .btn-projects {
                text-align: center;
                margin-top: 20px;

                @media (min-width: rem(768)) {
                    margin-top: 40px;
                }

                @media (min-width: rem(1200)) {
                    margin-top: 60px;
                }

                a {
                    display: block;
                    margin: 0 20px;

                    @media (min-width: rem(768)) {
                        display: inline-block;
                        margin: 0;
                    }
                }
            }
        }
    }
}