// Transitions on buttons.
.btn-yellow,
.btn-transparent,
.btn-black,
.btn-video,
.btn-transparent-fat,
.btn-scroll-to-top,
.submit {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
}

/* Button design
Main design comes from .btn-main.
Color, background-color etc is defined by the next class ie. btn-yellow.
*/

.btn-main {
    border-radius: 35px;
    color: #191919;
    text-decoration: none;
    padding: 15px 25px;
    font-weight: 600;
    font-size: rem(14);

    @media (min-width: rem(992)) {
        font-size: rem(16);
    }

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        box-shadow: 0 9px 5px#d3d3d3;
    }

    &:active {
        box-shadow: 0 5px 5px#6A6C71;
        transform: translateY(4px);
    }
}

.btn-yellow {
    background-color: #f9d783;
    border: 1px solid #f9d783;
 
    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: white;
    }

}

.btn-transparent {
    background-color: transparent;
    border: 1px solid black;

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: white;

    }
}

.btn-transparent-fat {
    background-color: transparent;
    border: 1px solid black;
    padding: 20px 35px;

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: white;
    }
}

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: white;

    &:hover {
        background-color: #f9d783;
        border: 1px solid #f9d783;
        color: black;
    }

    &:active {
        box-shadow: 0 5px 5px #626262;
    }

    &:focus {
        outline-color: red;
    }

}

.btn-team {
    border: 1px solid #191919;
    display: block;
    margin: 0 20px;

    @media (min-width: rem(768)) {
        display: inline-block;
        margin: 0;
    }

    &:focus {
        outline-color: #fff;
    }

}

.btn-submit {
    display: inline-block;
    padding: 12px 25px;
    margin: 8px;
}

/*Below buttons receive full styling from their own class
Used in "AboutCompanySection" */
.btn-video {
    background-color: transparent;
    color: #191919;
    text-decoration: none;
    padding: 15px 15px 15px 0;
    font-weight: 600;
    font-size: rem(12);

    @media (min-width: rem(992)) {
        font-size: rem(16);
        padding: 15px 25px;
    }

    i {
        padding: 18px 18px 18px 22px;
        border: 1px solid #191919;
        border-radius: 50%;
        font-size: 0.9em;
    }

    i:hover {
        background-color: #191919;
        color: white;
        box-shadow: 0 9px 5px#d3d3d3;
        transition: 0.5s ease-in-out;
    }

    i:active {
        transform: translateY(4px);
        box-shadow: 0 5px 5px #626262;
    }
}

// Used inside "ServiceBox".
.btn-arw-r {
    text-decoration: none;
    padding: 15px 25px;
    font-weight: 600;
    text-align: right;
    font-size: rem(14);

    @media (min-width: rem(992)) {
        font-size: rem(16);
    }

    i {
        background-color: black;
        color: white;
        padding: 20px;
        align-items: center;
        border: 1px solid #191919;
        border-radius: 50%;
        margin-left: 8px;
        margin-right: -15px;
        font-size: 0.9em;
    }
}

// Used in "ScrollToTop"
.btn-scroll-to-top {
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 10;
    background-color: #f9d783;
    border: 1px solid #f9d783;
    border-radius: 35px;
    color: #191919;
    text-decoration: none;
    width: 60px;
    height: 60px;
    font-weight: 600;
    font-size: rem(14);

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: white;
        box-shadow: 0 9px 5px#d3d3d3;
    }

    &:active {
        box-shadow: 0 5px 5px#6A6C71;
        transform: translateY(4px);
    }
}

// Hides "ScrollToTop"
.hide-btn {
    display: none;
    transition: 0.3s ease-in;
}