// scss string interpolation used to calculate rem from px on font-sizes and media-queries.
@use "sass:math";

@function rem($pixels, $context: 16) {
    @return (math.div($pixels, $context)) * 1rem;
}

// Google fonts.
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap');

// Global styling

html,
body {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

    a {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: rem(12);

        @media (min-width: rem(576)) {
            font-size: rem(14);
        }

        @media (min-width: rem(992)) {
            font-size: rem(16);
        }
    }

    p {
        color: #191919;
        font-family: 'Inter', sans-serif;
        font-size: rem(12);
        font-weight: 400;

        @media (min-width: rem(576)) {
            font-size: rem(14);
        }

        @media (min-width: rem(992)) {
            font-size: rem(16);
        }
    }

    h1 {
        font-family: 'DM sans', sans-serif;
        font-weight: 700;
        font-size: rem(40);

        @media (min-width: rem(768)) {
            font-size: rem(70);
        }

        @media (min-width: rem(1200)) {
            font-size: rem(73);
        }

        @media (min-width: rem(1400)) {
            font-size: rem(86);
        }
    }

    h2 {
        font-family: 'DM sans', sans-serif;
        font-weight: 700;
        font-size: rem(32);

        @media (min-width: rem(1200)) {
            font-size: rem(45);
        }
    }

    h3 {
        font-family: 'DM sans', sans-serif;
        font-weight: 700;
        font-size: rem(14);
        color: #191919;

        @media (min-width: rem(768)) {
            font-size: rem(18);
        }

        @media (min-width: rem(992)) {
            font-size: rem(22);
        }
    }

    .orange-txt {
        color: #F94D1C;
        font-size: rem(14);

        @media (min-width: rem(1200)) {
            font-size: rem(18);
        }
    }

    .container {
        padding: 0;
    }
}

// Expanding the #features and #testimonials ".container" at larger screen sizes.
@media (min-width: rem(1660)) {
    #features-container {
        max-width: 1520px;
    }

    #testimonials-content {
        max-width: 1520px;
    }
}